# === Node ===
node_modules/
.pnp/
.pnp.js

# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.log
.Python
*.sqlite3
*.json

# === Virtualenvs ===
venv/
backend/venv/
backend/.venv
env/
ENV/
.venv/
.ENV/
backend/secrets/


# === Django / Python ===
*.db
*.log
*.pot
*.pyc
*.pyo
*.mo
*.log
*.swp
db.sqlite3
*.bak

# === VS Code & IDEs ===
.vscode/
.idea/
.DS_Store

# === React ===
build/
.env*
*.env
*.local

# === NLTK & Models ===
nltk_data/
*.h5
*.keras
*.ckpt
*.safetensors
*.tflite
*.pb

# === Git LFS markers ===
*.lfs
backend/wheels